{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "spotti/no-extra-braces-in-arrow-body": "error"
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "spotti/no-extra-braces-in-arrow-body": "off"
      }
    }
  ],
  "plugins": [
    "prettier",
    "spotti"
  ]
}